nav ul {
  background-color: #0e0d0efd;
  padding: 10px;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}

.education {
  background-color: #f3f3f3;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
}


.img{
  transition: 1s;
  cursor: pointer;
  img:hover{
    scale: 1.1;
  }

}
