nav ul {
  background-color: #0e0d0efd;
  padding: 10px;
  text-align: center;
  list-style: none;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f7fa;
    color: #333;
}

header {
    background-color: #1e90ff;
    color: white;
    text-align: center;
    padding: 30px 0;
    background-repeat: no-repeat;
}

h1 {
    margin: 0;
    font-size: 2em;
    background-repeat: no-repeat;
}

.project {
    background-color: white;
    
    margin: 30px auto;
    padding: 25px;
    border-radius: 12px;
    max-width: 900px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.project h2 {
    color: #1e90ff;
    margin-bottom: 10px;
}

.project p {
    margin: 8px 0;
    line-height: 1.6;
}

.project ul {
    margin-top: 10px;
    padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #222;
  color: white;
}
